{% extends "layout.html" %} {%block content %}

<div class="row justify-content-center mt-5">
  <div class="col-md-8">
    <div class="card" style="height: 400px;">
      <h1>Job Finder</h1>
      <br /><br />
      <form id="input-form" method="post" action="/">
        <div class="form-group">
          <label for="Site">Job Site</label>
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
          />
          <small id="emailHelp" class="form-text text-muted"
            >We'll never share your email with anyone else.</small
          >
        </div>
        <button
          type="submit"
          name="submitbutton"
          class="btn btn-primary form-control"
        >
          Find Results
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
